[Unit]
Description=spark-worker
After=nvidia4coreos.service
Requires=nvidia4coreos.service
[Service]
Restart=always
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker rm spark-worker
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
                        --volume /var/run/docker.sock:/var/run/docker.sock \
                        --volume /tmp:/tmp \
                        --volume /var/tmp:/var/tmp \
                        --volume /etc/hadoop/:/etc/hadoop \
                        --env HADOOP_CONF_DIR=/etc/hadoop \
                        --env SPARK_LOCAL_DIRS=/var/tmp \
                        --network host \
                        --volumes-from nvidia4coreos \
                        --name spark-worker \
                        $(for d in $(ls /dev/nvidia* 2>/dev/null); do echo -n \"--device $d \"; done) \
                        ${spark_docker_image} \
                        sh -c 'export PATH=$PATH:/opt/nvidia/bin/; \
                        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/nvidia/lib; \
                        $SPARK_HOME/bin/spark-class \
                        org.apache.spark.deploy.worker.Worker \
                        -h $(hostname) \
                        spark://${master_hostname}:7077'"
ExecStop=/usr/bin/docker stop spark-worker
[Install]
WantedBy=multi-user.target
