[Unit]
Description=zeppelin
After=nvidia4coreos.service
Requires=nvidia4coreos.service
[Service]
Restart=always
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker rm zeppelin
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
                        --volume /var/run/docker.sock:/var/run/docker.sock \
                        --volume /tmp:/tmp \
                        --volume /var/zeppelin-notebooks:/notebooks \
                        --volume /etc/hadoop/:/etc/hadoop \
                        --volume /etc/zeppelin/zeppelin-site.xml:/tmp/zeppelin-site.xml \
                        --net=host \
                        --env MASTER=spark://$(hostname):7077 \
                        --env ZEPPELIN_PORT=8888 \
                        --env HADOOP_CONF_DIR=/etc/hadoop \
                        --env SPARK_LOCAL_DIRS=/var/tmp \
                        --volumes-from nvidia4coreos \
                        --name zeppelin \
                        $(for d in $(ls /dev/nvidia* 2>/dev/null); do echo -n \"--device $d \"; done) \
                        ${zeppelin_docker_image} \
                        sh -c 'export PATH=$PATH:/opt/nvidia/bin/; \
                        export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/opt/nvidia/lib; \
                        cp /tmp/zeppelin-site.xml $Z_HOME/conf/zeppelin-site.xml; \
                        $Z_HOME/bin/zeppelin.sh'"
ExecStop=/usr/bin/docker stop zeppelin
[Install]
WantedBy=multi-user.target
