[Unit]
Description=hdfs-datanode
After=docker.service
Requires=docker.service
[Service]
Restart=always
TimeoutStartSec=20m
ExecStartPre=-/usr/bin/docker rm hdfs-datanode
ExecStart=/usr/bin/bash -c "/usr/bin/docker run \
                        --network host \
                        --volume /media/disk/hdfs-data:/media/disk/hdfs-data \
                        --volume /etc/hadoop/:/etc/hadoop \
                        --env HADOOP_CONF_DIR=/etc/hadoop \
                        --name hdfs-datanode \
                        ${hdfs_docker_image} \
                        sh -c '$HADOOP_HOME/bin/hdfs datanode \
                           -Dfs.defaultFS=hdfs://${hdfs_namenode_hostname} \
                           -Ddfs.datanode.data.dir=/media/disk/hdfs-data'"
ExecStop=/usr/bin/docker stop hdfs-datanode
[Install]
WantedBy=multi-user.target
